{% extends layout('users') %}

{% block content %}
    <div class="container">

        <div class="col-lg-6 col-lg-offset-3">
            {% set form = form('admin_change_password').redirect(request_get('redirect', '/admin/login')).get() %}

            {{ form.open|raw }}

            {{ form|raw }}

            {{ form.close|raw }}
            <a href="{{  url('admin/login') }}">Back to Login</a>
        </div>

    </div>
{% endblock %}
